body {
  font-family: "Open Sans";
}
h1 {
  font-family: Oswald;
}
ul {
  list-style: none;
  display: inline;
  float: right;
  margin-top: 22px;
  margin-right: 184px;
}
li {
  display: inline;
}
body >header {
  height: 523px;
  background: red;
}
header header {
  height: 100px;
  background: orange;
}
main {
  width: 66%;
  height: 1007px;
  background: green;
  border-bottom: 1px solid grey;
  float: left;
}
section {
  width: 34%;
  height: 1007px;
  background: yellow;
  border-bottom: 1px solid grey;
  float: right;
}
.topLogo {
  padding-top: 25px;
  width: 50%;
  float: left;
  margin-left: 198px;
}
.hero {
  width: 100%;
  margin: 0 auto;
  background: blue;
  text-align: center;
  font-size: 106px;
  padding-top: 88px;
}
footer {
  background: purple;
  height: 573px;
  clear:both;
}
