body {
   font-family: 'Open Sans', sans-serif;
}
.imgHolder {
  background: #8CB9E3;
}
h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 390%;
  margin: 0;
}
.topLogo img {
  width: 6.9%;
  margin-left: -1.5%;
  margin-top: 0.9%;
  float: left;
}
.logowords {
  float: left;
  padding-top: 2.6%;
  padding-left: 1.5%;
}
.searchbar {
  color: #015289;
  font-family: 'Oswald', sans-serif;
  display: inline;
  float: right;
  padding-right: 13%;
  font-size: 17.4px;
}
ul {
  list-style: none;
  display: block;
  padding-left: 0;
  float: right;
}
.bio li {
  width: 33%
}
.searchbar li {
  margin-left: : 0;
  padding-left: 16px;
}
li {
  display: inline;
  width: 10%;
}
body >header {
  width: 100%;
  height: 96.6vh;
  background-image: url(https://placebear.com/1300/523);
  background-size: cover;

}

header header {
  height: 100px;
}
main {
  box-sizing: border-box;
  padding-left: 12.5%;
  padding-right: 6%;
  margin-top: 4.8%;
  padding-bottom: 4%;
  width: 66%;
  float: left;
  line-height: 1.13;
}
.sidebar {
  padding-bottom: 11.9%;
  box-sizing: border-box;
  padding-right: 12.5%;
  padding-left: 0.2%;
  width: 34%;
  float: right;
  color: #A3B3BF;
}
.advert > a {
  float: right;
  font-size: 13px;
  padding-top: 4%;
  color: grey;
}
.sidetext {
  clear: both;
  padding-top: 17.5%;
}
.sidetext h3 {
  font-family: 'Oswald', sans-serif;
  color: #106DB3;
  margin-top: 0;
  font-size: 18px;
}
.sidetext p {
  margin-top: -7%;
  font-size: 13.2px;
  line-height: 25px;
}
.topLogo {
  width: 50%;
  float: left;
  color: #015289;
  padding-left: 11.6%;
  padding-top: 0.2%;
}
.hero {
  width: 99%;
  margin: 0 auto;
  text-align: center;
  font-size: 6.6em;
  padding-top: .83em;
  color: white;
}
.hero h3 {
  font-size: 15px;
  margin-top: -20px;
  color: #015289;

}
footer {
  height: 100%;
  clear:both;
}
.posterInfo {
  font-size: 14px;
  margin-left: 33px;
  padding-top: 2%;
  padding-bottom: 4%;
  color: #106CB1;
}
.blockquote {
  border-left: 1px solid grey;
  font-size: 27.4px;
  padding-top: 20px;
  padding-left: 21px;
  color: #106DB3;

}
main footer {
  height: 100%;
}
footer h1 {
  text-align: center;
  margin-left: 0;
  padding-top: 1.9%;
  margin-bottom: -0.9%;
  color: #083452;
}
footer section {
  margin: 0 auto;
  width: 1300px;
  max-width: 100%;
  padding-top: 3.3%;
}
footer section div {
  box-sizing: border-box;
  width: 25%;
  float: left;
  max-width: 325px;
  max-height: 330px;
}
section div img {
  width: 100%;
  opacity: .5;
}
section div img:hover {
  opacity: 1;
}

footer footer {
  height: 97px;
  background: #083452;
  color: white;
}
.bio img {
  display: block;
  border-radius: 45px;
  width: 32%;
  margin: 0 auto;
}
div.bio {
  text-align: center;
  padding-top: 30%;
  padding-bottom: 25%;
}
.bio nav {
  width: 71%;
  margin: 0 auto;
  font-size: 14.7px;
}
.bio h3 {
  margin-bottom: 0;
  margin-top: 2.3px;
  font-size: 17.5;
  color: #015289;
}
.bio ul {
  margin-top: 0;
  margin-bottom: 25%;
}
.bio a {
  text-decoration: none;
  color: #A3B3BF;
}
.copyright {
  width: 50%;
  float: left;
}
.botNav {
  width: 34%;
  float: right;
  padding-right: 11.9%;
  margin-top: 1.7%;
  font-size: 14px;
}
.mainText p {
  color: #5E686F;
  line-height: 25px;
}
.comments {
  float: left;
}
.bigfooter {
  border-top: 1px solid grey;
}
.copyright img {
  height: 40px;
  padding-left: 25%;
  padding-top: 3.5%;
  float: left;
}
.crwords {
  float: left;
  font-size: 13px;
  padding-top: 5.8%;
  padding-left: 1.7%;
}
.botNav a {
  text-decoration: none;
  color: white;
}
.botNav li {
  border-right: 1px solid grey;
  padding-left: 5px;
  padding-right: 5px;
}
